<section class="container pt-4">
  <div class="row">
    <div class="col-sm-11">
      <h1>
        {{
          (vm.managerConfiguration._id
            ? 'MANAGER_CONFIGURATION.EDIT'
            : 'MANAGER_CONFIGURATION.NEW'
          ) | translate
        }}
      </h1>
    </div>
    <div class="col-sm-1">
      <a
        ng-show="vm.managerConfiguration._id"
        class="btn btn-primary text-white"
        ng-click="vm.remove()"
      >
        <i class="fas fa-trash-alt"> </i>
      </a>
    </div>
    <div class="col-sm-12">
      <form
        name="vm.form.managerConfigurationForm"
        class="needs-validation"
        ng-submit="vm.save(vm.form.managerConfigurationForm.$valid)"
        novalidate
      >
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label class="control-label" for="name">
              {{ 'MANAGER_CONFIGURATION.NAME' | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              ng-model="vm.managerConfiguration.name"
              required
            />
            <div class="valid-feedback">
              {{ 'MANAGER_CONFIGURATION.VALID_NAME' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'MANAGER_CONFIGURATION.INVALID_NAME' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="friendly">
              {{ 'MANAGER_CONFIGURATION.FRIENDLY' | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              name="friendly"
              id="friendly"
              ng-model="vm.managerConfiguration.friendly"
              required
              ng-disabled="vm.managerConfiguration._id && !vm.managerConfiguration.isPublic"
            />
            <div class="valid-feedback">
              {{ 'MANAGER_CONFIGURATION.VALID_FRIENDLY' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'MANAGER_CONFIGURATION.INVALID_FRIENDLY' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="value">
              {{ 'MANAGER_CONFIGURATION.VALUE' | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              name="value"
              id="value"
              ng-model="vm.managerConfiguration.value"
              required
            />
            <div class="valid-feedback">
              {{ 'MANAGER_CONFIGURATION.VALID_VALUE' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'MANAGER_CONFIGURATION.INVALID_VALUE' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="isPublic" translate>
              {{ 'MANAGER_CONFIGURATION.IS_PUBLIC' | translate }}
            </label>
            <input
              class="form-control"
              type="checkbox"
              name="isPublic"
              id="isPublic"
              data-ng-model="vm.managerConfiguration.isPublic"
              ng-disabled="vm.managerConfiguration._id && !vm.managerConfiguration.isPublic"
              checked="true"
            />
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="status" translate>
              {{ 'GLOBAL.STATUS' | translate }}
            </label>
            <input
              class="form-control"
              type="checkbox"
              name="status"
              id="status"
              data-ng-model="vm.managerConfiguration.status"
              checked="true"
            />
          </div>

          <div class="col-md-12 mb-3">
            <button type="submit" class="btn btn-primary">
              {{ (vm.managerConfiguration._id ? 'GLOBAL.UPDATE' : 'GLOBAL.CREATE') | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
