<section class="container pt-4">
  <div class="row">
    <div class="col-sm-11">
      <h1>
        {{ vm.dataType._id ? 'DATA_TYPE.EDIT' : 'DATA_TYPE.NEW' | translate }}
      </h1>
    </div>
    <div class="col-sm-1">
      <a ng-show="vm.dataType._id" class="btn btn-primary" ng-click="vm.remove()">
        <i class="fas fa-trash-alt"> </i>
      </a>
    </div>
    <div class="col-sm-12">
      <form
        name="vm.form.dataTypeForm"
        class="needs-validation"
        ng-submit="vm.save(vm.form.dataTypeForm.$valid)"
        novalidate
      >
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label class="control-label" for="alias_id">
              {{ 'ALIAS.TITLE' | translate }}
            </label>
            <select
              class="custom-select"
              name="alias_id"
              id="alias_id"
              ng-model="vm.dataType.alias_id._id"
              ng-init="vm.dataType.alias_id._id"
              required
            >
              <option value="">{{ 'ALIAS.SELECT' | translate }}</option>
              <option ng-repeat="item in vm.listAliases track by item._id" value="{{item._id}}">
                {{ item.name }}
              </option>
            </select>
            <div class="valid-feedback">
              {{ 'ALIAS.VALID_NAME' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'ALIAS.INVALID_NAME' | translate }}
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label class="control-label" for="nameLang">
              {{ 'DATA_TYPE.NAME_LANG' | translate }}
            </label>
            <input
              type="text"
              class="form-control"
              name="nameLang"
              id="nameLang"
              ng-model="vm.dataType.nameLang"
              required
            />
            <div class="valid-feedback">
              {{ 'DATA_TYPE.VALID_NAME_LANG' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'DATA_TYPE.INVALID_NAME_LANG' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="system" translate>
              {{ 'DATA_TYPE.SYSTEM' | translate }}
            </label>
            <input
              class="form-control"
              type="checkbox"
              name="system"
              id="system"
              data-ng-model="vm.dataType.system"
              checked="true"
            />
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="order">
              {{ 'DATA_TYPE.ORDER' | translate }}
            </label>
            <input
              type="number"
              class="form-control"
              name="order"
              id="order"
              ng-model="vm.dataType.order"
              required
            />
            <div class="valid-feedback">
              {{ 'DATA_TYPE.VALID_ORDER' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'DATA_TYPE.INVALID_ORDER' | translate }}
            </div>
          </div>

          <!-- <div class="col-md-12 mb-3">
            <label class="control-label" for="shop">
              {{ 'SHOP.TITLE' | translate }}
            </label>
            <select
              class="custom-select"
              name="shop"
              id="shop"
              ng-model="vm.dataType.shop._id"
              ng-init="vm.dataType.shop._id"
              required
            >
              <option value="">{{ 'SHOP.SELECT' | translate }}</option>
              <option ng-repeat="item in vm.listShops track by item._id" value="{{item._id}}">
                {{ item.name }}
              </option>
            </select>
            <div class="valid-feedback">
              {{ 'SHOP.VALID_NAME' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'SHOP.INVALID_NAME' | translate }}
            </div>
          </div> -->

          <div class="col-md-12 mb-3">
            <label class="control-label" for="status" translate>
              {{ 'GLOBAL.STATUS' | translate }}
            </label>
            <input
              class="form-control"
              type="checkbox"
              name="status"
              id="status"
              data-ng-model="vm.dataType.status"
              checked="true"
            />
          </div>

          <div class="col-md-12 mb-3">
            <button type="submit" class="btn btn-primary">
              {{ vm.dataType._id ? 'GLOBAL.UPDATE' : 'GLOBAL.CREATE' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
