<section class="container mt-5">
  <div class="row">
    <div class="col-sm-11">
      <h1>
        {{ (vm.favorite._id ? 'FAVORITE.EDIT' : 'FAVORITE.NEW') | translate }}
      </h1>
    </div>
    <div class="col-sm-1">
      <a ng-show="vm.favorite._id" class="btn btn-primary" ng-click="vm.remove()">
        <i class="fas fa-trash-alt"> </i>
      </a>
    </div>
    <div class="col-sm-12">
      <form
        name="vm.form.favoriteForm"
        class="needs-validation"
        ng-submit="vm.save(vm.form.favoriteForm.$valid)"
        novalidate
      >
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label class="control-label" for="name"> {{ 'FAVORITE.NAME' | translate }} </label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              ng-model="vm.favorite.name"
              required
            />
            <div class="valid-feedback">{{ 'FAVORITE.VALID_NAME' | translate }}</div>
            <div class="invalid-feedback">{{ 'FAVORITE.INVALID_NAME' | translate }}</div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="user">
              {{ 'USER.TITLE' | translate }}
            </label>
            <select
              class="custom-select"
              name="user"
              id="user"
              ng-model="vm.favorite.user._id"
              ng-init="vm.favorite.user._id"
              required>
              <option value="">{{ 'USER.SELECT' | translate }}</option>
              <option ng-repeat="item in vm.listUsers track by item._id" value="{{item._id}}">
                {{ item.name }}
              </option>
            </select>
            <div class="valid-feedback">
              {{ 'USER.VALID_NAME' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'USER.INVALID_NAME' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="product">
              {{ 'PRODUCT.TITLE' | translate }}
            </label>
            <select
              class="custom-select"
              name="product"
              id="product"
              ng-model="vm.favorite.product._id"
              ng-init="vm.favorite.product._id"
              required>
              <option value="">{{ 'PRODUCT.SELECT' | translate }}</option>
              <option ng-repeat="item in vm.listProducts track by item._id" value="{{item._id}}">
                {{ item.name }}
              </option>
            </select>
            <div class="valid-feedback">
              {{ 'PRODUCT.VALID_NAME' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'PRODUCT.INVALID_NAME' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="status" translate> {{ 'GLOBAL.STATUS' | translate }} </label>
            <input
              class="form-control"
              type="checkbox"
              name="status"
              id="status"
              data-ng-model="vm.favorite.status"
              checked="true"
            />
          </div>

          <div class="col-md-12 mb-3">
            <button type="submit" class="btn btn-primary">
              {{ (vm.favorite._id ? 'GLOBAL.UPDATE' : 'GLOBAL.CREATE') | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
