<section class="container mt-5">
  <script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="vm.checkboxes.checked" class="select-all" value="" />
  </script>
  <div class="page-header">
    <div class="row">
      <div class="col-sm-11">
        <h1>{{ 'FAVORITE.NAME' | translate }}</h1>
      </div>
      <div class="col-sm-1">
        <a type="button" class="btn btn-primary" data-ui-sref="favorites.create">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped table-responsive">
    <colgroup>
      <col width="12%" />
      <col width="76%" />
      <col width="12%" />
    </colgroup>
    <tr ng-repeat="row in $data">
      <td data-title="'GLOBAL.ACTIONS' | translate">
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-default btn-sm"
            ui-sref="favorites.view({ favoriteId: row._id })"
          >
            <span class="fas fa-eye"></span>
          </button>
          <button
            type="button"
            class="btn btn-default btn-sm"
            ui-sref="favorites.edit({favoriteId: row._id})"
          >
            <span class="fas fa-pencil-alt"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="vm.remove(row._id)">
            <span class="fas fa-trash-alt"></span>
          </button>
        </div>
      </td>
      <td data-title="'USER.NAME' | translate" filter="{ user: 'select' }" filter-data="vm.listUsers">
        {{ row.user.name }}
      </td>      <td data-title="'PRODUCT.NAME' | translate" filter="{ product: 'select' }" filter-data="vm.listProducts">
        {{ row.product.name }}
      </td>

      <td data-title="'GLOBAL.STATUS' | translate" filter="{ status: 'select' }" filter-data="vm.listStatus('status')">
        {{ (row.status == true ? 'GLOBAL.ACTIVE' : 'GLOBAL.INACTIVE') | translate}}
      </td>
    </tr>
  </table>
</section>
