<section class="container pt-5">
  <div class="page-header">
    <h1>User <span ng-bind="vm.user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            ng-disabled="vm.disableFormUser"
            type="text"
            id="firstName"
            name="firstName"
            class="form-control"
            ng-model="vm.user.firstName"
            placeholder="First Name"
            required
            autofocus
          />
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div ng-if="!vm.disableFormUser" class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            class="form-control"
            ng-model="vm.user.lastName"
            placeholder="Last Name"
            required
          />
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            ng-disabled="vm.disableFormUser"
            type="email"
            id="email"
            name="email"
            class="form-control"
            ng-model="vm.user.email"
            placeholder="Email"
            required
          />
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="DNI">
            {{ 'GLOBAL.DNI' | translate }}
          </label>
          <input
            class="form-control"
            name="DNI"
            type="text"
            id="DNI"
            ng-model="vm.user.DNI"
            ng-init="vm.user.DNI"
            required
          />
          <div ng-messages="vm.form.userForm.DNI.$error" role="alert">
            <p class="help-block error-text" ng-message="required" traslate>
              {{ 'GLOBAL.DNI_REQUIRED' | translate }}
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="phone">
            {{ 'GLOBAL.PHONE' | translate }}
          </label>
          <input
            class="form-control"
            name="phone"
            type="text"
            id="phone"
            ng-model="vm.user.phone"
            ng-init="vm.user.phone"
            required
          />
          <div ng-messages="vm.form.userForm.phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required" traslate>
              {{ 'GLOBAL.PHONE_REQUIRED' | translate }}
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            ng-disabled="vm.disableFormUser"
            type="password"
            id="password"
            name="password"
            class="form-control"
            ng-model="vm.user.password"
            placeholder="password"
            password-validator
            uib-popover="{{ vm.getPopoverMsg() }}"
            popover-trigger="outsideClick"
            required
          />
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">password is required.</p>
          </div>
          <div class="form-group" ng-show="!vm.userForm.password.$error.required">
            <label>Password Requirements</label>
            <uib-progressbar value="requirementsProgress" type="{{ requirementsColor }}"
              ><span style="color: white; white-space: nowrap;"
                >{{ requirementsProgress }}%</span
              ></uib-progressbar
            >
          </div>
        </div>

        <div ng-if="!vm.disableFormUser" class="form-group">
          <label class="control-label" for="group">
            Group
          </label>
          <select
            class="form-control"
            name="group"
            id="group"
            ng-model="vm.user.group"
            ng-init="vm.user.group"
            ng-options="item as item.name for item in vm.listGroups track by item._id"
            required
          >
            <option value="">--- Seleccione un Grupo ---</option>
          </select>
          <div ng-messages="vm.form.userForm.group.$error" role="alert">
            <p class="help-block error-text" ng-message="required" traslate>
              este es un campo requerido
            </p>
          </div>
        </div>
        <div
          ng-if="!vm.disableFormUser && vm.authentication.user.roles.includes('admin')"
          class="form-group"
        >
          <label class="control-label" for="shop">
            Tienda
          </label>
          <select
            class="form-control"
            name="shop"
            id="shop"
            ng-model="vm.user.shop"
            ng-init="vm.user.shop"
            ng-options="item as item.name for item in vm.listShops track by item._id"
            required
          >
            <option value="">--- Seleccione una Tienda ---</option>
          </select>
          <div ng-messages="vm.form.userForm.shop.$error" role="alert">
            <p class="help-block error-text" ng-message="required" traslate>
              este es un campo requerido
            </p>
          </div>
        </div>
        <div
          ng-if="!vm.disableFormUser && vm.authentication.user.roles.includes('admin')"
          class="form-group"
        >
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <input
              class="form-control"
              type="text"
              name="roles"
              ng-model="vm.user.roles"
              id="roles"
              ng-list
              required
            />
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">
                At least one role is required.
              </p>
            </div>
          </div>
        </div>

        <div ng-if="!vm.disableFormUser" class="form-group">
          <label class="control-label" for="listDiscounts">
            Lista de descuento
          </label>
          <select
            class="form-control"
            name="listDiscounts"
            id="listDiscounts"
            ng-model="vm.user.listDiscounts"
            ng-init="vm.user.listDiscounts = vm.user.listDiscounts ? vm.user.listDiscounts._id : null"
          >
            <option ng-value="null">--- Seleccione una lista de descuento ---</option>
            <option value="{{ item._id }}" ng-repeat="item in vm.listDiscountLists"
              >{{ item.name }}</option
            >
          </select>
          <div ng-messages="vm.form.userForm.listDiscounts.$error" role="alert">
            <p class="help-block error-text" ng-message="required" traslate>
              este es un campo requerido
            </p>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">
                  <h3>{{ 'USER.ADDRESS' | translate }}</h3>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="address">{{ 'USER.ADDRESS' | translate }}</label>
                  <input
                    type="text"
                    id="address"
                    name="address"
                    class="form-control"
                    ng-model="vm.dataAddress.address"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="country">{{ 'USER.COUNTRY' | translate }}</label>
                  <input
                    type="text"
                    id="country"
                    name="country"
                    class="form-control"
                    ng-model="vm.dataAddress.country"
                  />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="city">{{ 'USER.CITY' | translate }}</label>
                  <input
                    type="text"
                    id="city"
                    name="city"
                    class="form-control"
                    ng-model="vm.dataAddress.city"
                  />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="postalCode">{{ 'USER.POSTAL_CODE' | translate }}</label>
                  <input
                    type="text"
                    id="postalCode"
                    name="postalCode"
                    class="form-control"
                    ng-model="vm.dataAddress.postalCode"
                  />
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <div class="form-check">
                    <div class="col-md-12">
                      <label class="form-check-label" for="isDefaultAddress">
                        {{ 'USER.IS_DEFAULT_ADDRESS' | translate }}
                      </label>
                    </div>
                    <div class="col-md-12" align="center">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="gridCheck"
                        ng-model="vm.dataAddress.isDefaultAddress"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Create" />
        </div>
      </fieldset>
    </form>
  </div>
</section>
