<section class="container">
  <script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="vm.checkboxes.checked" class="select-all" value="" />
  </script>
  <div class="page-header">
    <div class="row">
      <div class="col-sm-11">
        <h1>
          {{ 'FEATURE_DETAIL.NAME' | translate }}
        </h1>
      </div>
      <div class="col-sm-1">
        <a type="button" class="btn btn-primary" data-ui-sref="featureDetails.create">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <table
    ng-table="vm.tableParams"
    class="table table-condensed table-bordered table-striped table-responsive"
  >
    <colgroup>
      <col width="12%" />
      <col width="32%" />
      <col width="32%" />
      <col width="12%" />
      <col width="12%" />
    </colgroup>
    <tr ng-repeat="row in $data">
      <td data-title="'GLOBAL.ACTIONS' | translate">
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-default btn-sm"
            ui-sref="featureDetails.view({ featureDetailId: row._id })"
          >
            <span class="fas fa-eye"></span>
          </button>
          <button
            type="button"
            class="btn btn-default btn-sm"
            ui-sref="featureDetails.edit({featureDetailId: row._id})"
          >
            <span class="fas fa-pencil-alt"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-click="vm.remove(row._id)">
            <span class="fas fa-trash-alt"></span>
          </button>
        </div>
      </td>
      <td
        data-title="'FEATURE.NAME' | translate"
        filter="{ feature_id: 'select' }"
        filter-data="vm.listFeatures"
      >
        {{ row.feature_id.nameLang }}
      </td>
      <td data-title="'FEATURE_DETAIL.NAME_LANG' | translate" filter="{ nameLang: 'text' }">
        {{ row.nameLang }}
      </td>
      <td data-title="'FEATURE_DETAIL.ORDER' | translate" filter="{ order: 'text' }">
        {{ row.order }}
      </td>
      <!-- <td data-title="'SHOP.NAME' | translate" filter="{ shop: 'select' }" filter-data="vm.listShops">
        {{ row.shop.name }}
      </td> -->
      <td
        data-title="'GLOBAL.STATUS' | translate"
        filter="{ status: 'select' }"
        filter-data="vm.listStatus('status')"
      >
        {{ row.status == true ? 'GLOBAL.ACTIVE' : 'GLOBAL.INACTIVE' | translate}}
      </td>
    </tr>
  </table>
</section>
