<section class="container">
  <div class="row">
    <div class="col-sm-11">
      <h1>
        {{ vm.shop._id ? 'SHOP.EDIT' : 'SHOP.NEW' | translate }}
      </h1>
    </div>
    <div class="col-sm-1">
      <a ng-show="vm.shop._id" class="btn btn-primary" ng-click="vm.remove()">
        <i class="fas fa-trash-alt"> </i>
      </a>
    </div>
    <div class="col-sm-12">
      <form name="vm.form.shopForm" class="needs-validation" ng-submit="vm.save(vm.form.shopForm.$valid)"
        novalidate>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label class="control-label" for="name">
              {{ 'SHOP.NAME' | translate }}
            </label>
            <input type="text" class="form-control" name="name" id="name" ng-model="vm.shop.name" required autofocus />
            <div class="valid-feedback">
              {{ 'SHOP.VALID' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'SHOP.INVALID' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="user_id">
              {{ 'SHOP.USER' | translate }}
            </label>
            <select class="custom-select" name="user_id" id="user_id" ng-model="vm.shop.user_id"
              ng-init="vm.shop.user_id" ng-options="item as item.label for item in vm.listUsers track by item._id"
              required>
              <option selected disabled value="">{{ 'USER.SELECT' | translate }}</option>
            </select>
            <div class="valid-feedback">
              {{ 'USER.VALID' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'USER.INVALID' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="description">
              {{ 'SHOP.DESCRIPTION' | translate }}
            </label>
            <input type="text" class="form-control" name="description" id="description" ng-model="vm.shop.description"
              required />
            <div class="valid-feedback">
              {{ 'SHOP.VALID' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'SHOP.INVALID' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="url">
              {{ 'SHOP.URL' | translate }}
            </label>
            <input type="text" class="form-control" name="url" id="url" ng-model="vm.shop.url" required />
            <div class="valid-feedback">
              {{ 'SHOP.VALID' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'SHOP.INVALID' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="template">
              {{ 'SHOP.TEMPLATE' | translate }}
            </label>
            <input type="text" class="form-control" name="template" id="template" ng-model="vm.shop.template"
              required />
            <div class="valid-feedback">
              {{ 'SHOP.VALID' | translate }}
            </div>
            <div class="invalid-feedback">
              {{ 'SHOP.INVALID' | translate }}
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label class="control-label" for="status" translate>
              {{ 'GLOBAL.STATUS' | translate }}
            </label>
            <input class="form-control" type="checkbox" name="status" id="status" data-ng-model="vm.shop.status"
              checked="true" />
          </div>

          <!-- Cargar Imagen -->
          <div class="col-md-12 mb-3">
            <div class="row">
              <!-- Titulo Cargar Imagen -->
              <div class="col-md-12">
                <label class="control-label">
                  {{ 'SHOP.LOAD_IMAGE' | translate }}
                </label>
              </div>

              <div class="col-md-12 mb-3" ng-if="vm.shop.multiFiles">
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    ng-style="{ 'width': vm.valueProgress + '%' }"
                    aria-valuenow="{{ vm.valueProgress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ vm.valueProgress }}%
                  </div>
                </div>
              </div>

              <!-- Muestra Imagenes -->
              <div class="col-md-12" ng-if="vm.shop.multiFiles">
                <div class="form-group text-center">
                  <div ng-repeat="file in vm.shop.files">
                    <div class="form-group text-center">
                      <img
                        ngf-src="file.$ngfName ? file : file.path"
                        alt="{{vm.user.displayName}}"
                        class="rounded mx-auto d-bloc user-profile-picture"
                      />
                    </div>
                    <div class="form-group text-center">
                      <label class="control-label">
                        {{ file.$ngfName ? file.$ngfName : file.originalname }}
                      </label>
                    </div>
                    <div class="form-group text-center">
                      <a
                        type="button"
                        class="btn btn-danger"
                        ng-click="vm.removeFileById(file, vm.fileSelected ? 'files' : 'managerFile_id')"
                      >
                        X
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Muestra Imagen Unitaria -->
              <div class="col-md-12" ng-if="!vm.shop.multiFiles">
                <div ng-show="vm.loading" class="form-group text-center">
                  <img
                    ng-src="/modules/core/client/img/loaders/loader.gif"
                    height="50"
                    width="50"
                    alt="Loading image..."
                  />
                </div>
                <div class="form-group text-center">
                  <img
                    ngf-src="vm.fileSelected ? vm.shop.files : vm.shop.managerFile_id[0].path"
                    alt="{{vm.user.displayName}}"
                    class="img-thumbnail user-profile-picture"
                    ngf-drop
                  />
                </div>
                <div class="form-group text-center">
                  <label class="control-label">
                    {{ vm.fileSelected ? vm.shop.files.$ngfName : vm.shop.managerFile_id[0].originalname }}
                  </label>
                </div>
              </div>

              <!-- Boton Selecciones Imagen  -->
              <div class="col-md-12">
                <div class="text-center form-group">
                  <button
                    class="btn btn-secondary btn-file"
                    ngf-select="vm.uploadFiles($files)"
                    ng-model="vm.shop.files"
                    accept="image/*"
                    ngf-before-model-change="vm.loading = true;"
                    ngf-resize="{width: 400, height: 400}"
                    ngf-resize-if="$width > 400 || $height > 400"
                    ngf-max-files="10"
                    ngf-multiple="vm.shop.multiFiles"
                    ngf-keep="vm.shop.multiFiles ? 'distinct' : false"
                  >
                    {{ 'MANAGER_FILE.SELECT_PICTURE' | translate }}
                  </button>
                </div>
                <div class="text-center form-group">
                  <input
                    ng-show="false"
                    class="form-control"
                    type="checkbox"
                    name="isFileSelected"
                    id="isFileSelected"
                    ng-model="vm.shop.isFileSelected"
                    required
                  />
                  <div class="valid-feedback text-center">
                    {{ 'MANAGER_FILE.VALID_NAME' | translate }}
                  </div>
                  <div class="invalid-feedback text-center">
                    {{ 'MANAGER_FILE.INVALID_NAME' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- // Fin Cargar Imagenes -->

        </div>

        <br><br>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">
            {{ vm.shop._id ? 'GLOBAL.UPDATE' : 'GLOBAL.CREATE' | translate }}
          </button>
        </div>
    </div>
    </form>
  </div>
  </div>
</section>